# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
flask==2.0.2
flask-sqlalchemy==2.5.1
gunicorn==20.1.0
jinja2==3.0.2
python==3.9.7
sqlalchemy==1.4.27
sqlite==3.37.0
werkzeug==2.0.2
