{% extends "layout.html" %} {% block body %}
<form class="m-5" action="/" method="post">
  <div class="mb-4">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" name="title" class="form-control" required />
  </div>
  <div class="mb-4">
    <label for="detail" class="form-label">内容</label>
    <input type="text" name="detail" class="form-control" />
  </div>
  <div class="mb-4">
    <label for="due" class="form-label">期限</label>
    <input type="date" name="due" required />
  </div>
  <a type="button" class="btn btn-outline-success" href="/" role="button"
    >戻る</a
  >
  <button type="submit" class="btn btn-primary" value="create">作成</button>
</form>

{% endblock %}
